$MAIN-COLOR : rgb(26, 25, 95, 1);
$SECONDARY-COLOR : #91453D;

$SECONDARY-COLOR-DECLINE: #9e544c;

$BG-COLOR : #F5F6F8;


$GREY-COLOR-STRONG: #585856;
$MAIN-WHITE-COLOR : #fff;

// INFOS
$RED-BASIC: #C10015;